appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
click==6.6
decorator==4.0.10
Flask==0.11.1
gnureadline==6.3.3
gunicorn==19.6.0
ipython==4.2.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
marshmallow==2.9.0
numpy==1.11.1
pandas==0.18.1
pbr==1.10.0
pexpect==4.1.0
pickleshare==0.7.2
ptyprocess==0.5.1
python-dateutil==2.5.3
pytz==2016.6
simplegeneric==0.8.1
six==1.10.0
stevedore==1.15.0
traitlets==4.2.1
virtualenv==15.0.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
Werkzeug==0.11.10
