<div class="aboutContainer">
	<h1>ABOUT</h1>
	<h2>THE PROJECT</h2>
	<p>D3 is an incredibly power data visualization tool written in javascript. But in order to use it, it requires some basic understanding of HTML, SVG , CSS and Javascript. </p>

	<p><b>Coolrelation</b> is a D3 visualization generator for correlation data. It brings the powerful D3 to user who wants to use D3 to visualize their data but doesn't equippe with those prerequisite knowledge to use it. The re-useable D3 generator allows user to customize graph settings in order to get insights from their data. </p>

	
	It not only just pushes data into D3 model, but also uses python algorithm to calculate the optimal initial parameters so that user can extract meaningful relational structure out the graph itself. </p>


	<h2>CONTACT</h2>
	<p><b>Coolrelation</b> is a work-in-progress project. Some functionalities are still under development. It currently has two different types of graphs for user to choose from. However, in the future, it will gradually adds more graph options alone with graph settings. If you have any suggestions or feedbacks, please feel free to reach out to me. Thanks! </p>


	<div id="introBox">
		<img id="teampic" src="./client/assets/charlie.png" height="250px" width="auto">
		<div class="profile">
			<h2>Charlie Yang</h2> 
			<p class="position">Full-Stack Web Developer </p>
			<p>Marathon runner, world traveler and a technically skilled and design-minded full stack developer. Passionate about building cool projects and making visually appealing website from mockup. Believes that the Internet is the best invention ever in this world and ready to make an impact with the coding skill!!</p>
			
			<div class="social_link">
				<span><a href="mailto:mrtial@gmail.com" target="_top"><img src="./client/assets/mail.png" height="25px" width="auto"></a></span> 
				<span><a href="https://www.linkedin.com/in/mrtial" target="_blank"><img src="./client/assets/linkedin.png" height="25px" width="auto"></a></span> 
				<span><a href="https://github.com/mrtial" target="_blank"><img src="./client/assets/github.png" height="25px" width="auto"></a></span> 
				<span><a href="https://charlierun.herokuapp.com" target="_blank"><img src="./client/assets/web.png" height="25px" width="auto"></a></span>
			</div>
		</div>
	</div>

	<div id="introBox">
		<img id="teampic" src="./client/assets/albert.jpg" height="250px" width="auto">
		<div class="profile">
			<h2>Albert Lee</h2> 
			<p class="position">Quantitative Modeler</p>
			<p>Foodie, cyclist and data scientist specializing in quantitative algorithm and data visualization. Believes data science is the key to unlock analytics and also the bridge to the future.</p>
			
			<div class="social_link">
				<span><a href="mailto:yy.albert.lee@gmail.com" target="_top"><img src="./client/assets/mail.png" height="25px" width="auto"></a></span> 
				<span><a href="https://www.linkedin.com/in/" target="_blank"><img src="./client/assets/linkedin.png" height="25px" width="auto"></a></span> 
			</div>
		</div>
	</div>
	
	

	<div class="whitespace"></div>
</div>


