<div class="aboutContainer">
	<h1>ABOUT</h1>
	<h2>THE PROJECT</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt dolor corporis deserunt eligendi excepturi omnis optio est! Itaque, quidem, minima quae maiores dolorum voluptate at, nihil magnam ad nesciunt perspiciatis!</p>

	<h2>TEAMS</h2>
	<img src="" height="250px" width="380px">
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quasi ullam quibusdam pariatur quis esse quia architecto laudantium debitis minus, accusantium ab nemo et non minima dolor, unde porro optio.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio autem dolore nulla sint et fugiat suscipit eius debitis dolorem. Minima modi recusandae est harum nam voluptates neque fuga ratione eius.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore sequi, praesentium officia voluptates, ratione ducimus aliquid et doloribus porro accusantium commodi accusamus explicabo, nemo iste ipsum. Unde dicta animi, alias.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis veniam quidem alias qui magnam quod labore vitae delectus, eligendi pariatur ut deserunt atque sequi tempore, exercitationem aperiam. Accusantium, doloribus, explicabo.</p>
	</div>
	<div class="whitespace"></div>
</div>


