<div class="generatorContainer">
	<!-- control panel -->
	<div class="contronPanel">
		<div class="panel"></div>
	</div>

	<!-- graphic area -->
	<div class="graphicArea">
		<!-- d3 plot -->
		<div class="d3plot dropzone">
			<div id="uploadText">
				<img src="./client/assets/fileupload.png" width="80px" height="80px">
				<div>choose a file or drag it here</div>
			</div>
		</div>

		<!-- export toolbar -->
		<div class="exportTool">
			<div id="toolicons">
				<img src="./client/assets/save.png" title="open new file">
				<img src="./client/assets/filedownload.png" title="file download">
				<img src="./client/assets/share.png" title="share">
				<img src="./client/assets/archive.png" title="add to clooection">
			</div>
		</div>
	</div>


	
</div>
