<div class="generatorContainer">

	<!-- Tutorial -->
	<d3-tutorial class="tutorial" ng-hide="vm.checked" ng-click="vm.tutorial()"></d3-tutorial>

	<!-- control panel -->
	<div class="controlPanel">
		<div class="panel">
			<select name="graph_type" ng-model="vm.chartOption.option[0].chart_type">
				<option value="structure_graph">Structure Graph</option>
				<option value="force_directed">Schema Graph</option>
			</select>

			<section id="structure">
				<p>Control Panel for "Structure Graph"</p>
			</section>

			<section id="schema">
				<p>Control Panel for "Schema Graph"</p>
			</section>

		</div>
	</div>
	
	<!-- graphic area -->
	<div class="graphicArea">
		
		<!-- ============ d3 plot ============== -->
		<div class="d3plot dropzone" nv-file-drop nv-file-over uploader="vm.uploaderD3">
			<!-- UPLOAD AREA -->
			<div id="uploadText" ng-show="vm.uploadText">
				<img src="./client/assets/fileupload.png" width="80px" height="80px">
				<div>choose a file or drag it here</div>
				<input type="file" nv-file-select uploader="vm.uploaderD3" style="padding-left:100px"/>
			</div>
			
			<!-- LOADER -->
			<div id="loadingAnimate" ng-show="vm.loader">
				<img src="./client/assets/loader.gif">
			</div>
			
			<!-- D3 SVG -->
			<div class="d3SVG" ng-show="vm.d3show">
				<div force-directed-chart chart-data="vm.chartData" chart-option="vm.chartOption" remove-node="vm.removeNode"></div>
			</div>

		</div>

		<!-- ============ export toolbar ============== -->
		<div class="exportTool">
			<div id="toolicons">
				<span href="/generator" ng-click="vm.cleanAll()"><img  src="./client/assets/save.png" title="open new file"></span>
				<span ng-click="vm.exportHTML()"><img src="./client/assets/filedownload.png" title="file download"></span>

				<a id="dl" download="Canvas.png" href="#" ng-click="vm.exportPNG()"><img src="./client/assets/share.png" title="share"></a>
				
				<span ng-click="vm.exportDB(vm.chartOption,vm.chartData)"><img src="./client/assets/archive.png" title="add to clooection"></span>
			</div>
		</div>


	</div> <!-- graphicArea -->
</div> 


