<div class="indexContainer">
	
	<!-- Title & Button -->
	<div class="leftbox">
		
		<h1 class="title">
			Super Fast and Easy<br>
			Correlation Matrix<br>
			Visualization Generator
		</h1>
		
		<button id="quickgen"><a href="/generator">GENERATE YOURS → </a></button>
		
		<div id="sample">
			<a href="https://www.dropbox.com/s/ibcg0wa7diockap/sample_file.csv?dl=1"><img src="./client/assets/csv.png" width="200px" height="auto"></a>
			<p>sample csv file</p>
		</div>
		
	</div>
	
	<!-- D3 Screen -->
	<div class="rightbox">
		<div id="d3screen">
			<img src="./client/assets/computer.png">
			<div><iframe src="./client/assets/sample.html"></iframe></div>
		</div>
	</div>
</div>

<footer>
	<div id="footnote"> * the generator take certain format of data. Please make sure your data has the same format as the sample csv file. Find out more detail explaination in the <a href="/doc" >DOC</a>.</div>
</footer>





