<div class="indexContainer">
	
	<!-- Title & Button -->
	<div class="leftbox">
		<h1 class="title">
			The Super Fast and Easy<br>
			Correlation Matrix<br>
			Visualization Generator
		</h1>
		<button id="quickgen"><a href="/generator">GENERATE YOURS <i><img src="./client/assets/next.png" width="20px" height="20px"></i> </a></button>
		<div id="sample"><a href="https://www.dropbox.com/s/ibcg0wa7diockap/sample_file.csv?dl=1"><img src="./client/assets/csv.png"></a><p>sample csv file</p>
		</div>
		<div id="footnote"> * the generate take certain format of data. Please make sure your data has the same format as the sample csv file. Find out more detail explaination in the <a href="/doc" >DOC</a>.</div>
	</div>
	
	<!-- D3 Screen -->
	<div class="rightbox">
		<div id="d3screen">
			<img src="./client/assets/computer.png">
			<div><iframe src="./client/assets/d3sample.html"></iframe></div>
		</div>
	</div>
</div>

<footer></footer>





