<!DOCTYPE html>
<html lang="en" ng-app="coolrelation">
<head>
	<meta charset="UTF-8">
	<title>Coolrelation</title>

	<!-- AngularJS -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-cookies.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-route.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
	<script type="text/javascript" src="http://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"> </script>
	<script type="text/javascript" src="http://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"> </script>

	<!-- D3 Library -->
	<!-- <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script type="text/javascript" src="http://gabelerner.github.io/canvg/rgbcolor.js"></script> 
	<script type="text/javascript" src="http://gabelerner.github.io/canvg/StackBlur.js"></script>
	<script type="text/javascript" src="http://gabelerner.github.io/canvg/canvg.js"></script> 
	
	<!-- Angular-nvD3 -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.7/angular-nvd3.min.js
"></script>

	<!-- Auth0 library -->
	<script type="text/javascript" src="https://cdn.auth0.com/js/lock-7.12.min.js"></script>
	<script type="text/javascript" src="https://cdn.auth0.com/w2/auth0-angular-4.js"></script>
	
	<!-- Angular File Upload -->
	<script type="text/javascript" src="./client/node_modules/angular-file-upload/dist/angular-file-upload.js"></script>
	<!-- <script type="text/javascript" src="./client/node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script> -->

	
	<!-- Viewport settings-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
	<!-- My Angular Scripts -->
	<script type="text/javascript" src="./client/javascripts/app.js"></script>
	<script type="text/javascript" src="./client/javascripts/component.js"></script>
	<script type="text/javascript" src="./client/javascripts/controller.js"></script>
	<script type="text/javascript" src="./client/javascripts/generator.js"></script>
	<script type="text/javascript" src="./client/javascripts/forcedirected.js"></script>
	<script type="text/javascript" src="./client/javascripts/exampleD3.js"></script>
	
	
	



	<!-- CSS stylesheets & fonts -->
	<link rel="stylesheet" type="text/css" href="./client/stylesheets/style.css">
	<link rel="stylesheet" href="http://s.mlcdn.co/animate.css">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,900,100' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
	
	<base href="/">

</head>
<body>
	<navbar></navbar>
	<div class="container">
		<ng-view></ng-view>
	</div>
	
</body>
</html>