<nav>
	<ul>
		<!-- LOGO -->
		<li><a href="/" id="logo">coolrelation</a></li>

		<!-- LINKS -->
		<li class="linked"><a href="/about">ABOUT</a></li>
		<li class="linked"><a href="/doc">DOC</a></li>
		<li class="linked"><a href="/generator">GENERATOR</a></li>
		<li class="linked"><a href="/showcase">SHOWCASE</a></li>

		<!-- USER LOGIN -->
		<li id="login">
			<a ng-click="vm.login()" ng-hide="vm.username">LOGIN</a>
			<a ng-show="vm.username">{{vm.username}}</a>
			<span><img src="{{vm.picture || './client/assets/user.png'}}"></span>
		</li>
	</ul>
</nav>