<nav>
	<ul id="nav">
		<!-- LOGO -->
		<li><a href="/" id="logo">coolrelation</a></li>

		<!-- LINKS -->
		<li class="linked"><a href="/about">ABOUT</a></li>
		<li class="linked"><a href="/doc">DOC</a></li>
		<li class="linked"><a href="/generator">GENERATOR</a></li>
		

		<!-- USER LOGIN -->
		<li id="login">
			<a id="loginbtm" ng-click="vm.login()" ng-hide="vm.username">LOGIN</a>
			<a ng-show="vm.username">
				{{vm.username}}
			</a>
			<span ng-click="vm.dropdown=!vm.dropdown"><img src="{{vm.picture || './client/assets/user.png'}}"></span>
		</li>
	</ul>
</nav>
<div id="userDropdown" ng-show="vm.dropdown">
	<ul>
		<li id="uparrow"></li>
		<li><a href="/showcase" class="dropItem">collection</a></li>
		<li ng-hide="vm.local"><a ng-show="vm.username" class="dropItem" ng-click="vm.logout()" href="https://mrtial.auth0.com/v2/logout?returnTo=http://coolrelation.herokuapp.com/">logout</a></li>
		<li ng-show="vm.local"><a ng-show="vm.username" class="dropItem" ng-click="vm.logout()" href="https://mrtial.auth0.com/v2/logout?returnTo=http://localhost:3000/">logout</a></li>
	</ul>
</div>